# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
/src

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# android
/platforms/android-29
/platforms/android-28
/platforms/android-27
/platforms/android-26
/platforms/android-25
/platforms/android-24
/platforms/android-23

/platform-tools
/build-tools
/sources
/system-images
/tools
/skins
/patcher
/extras
/emulator



/www
/licenses
/plugins
/scripts
